/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-22.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22.use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22.use[3]!./node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/Modal.vue?vue&type=style&index=0&id=701ac82d&lang=scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.waiting-icon {
  padding: 30px 0;
  box-sizing: border-box;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-22.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22.use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22.use[3]!./node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/payment/NetworkList.vue?vue&type=style&index=0&id=acd58c3a&lang=scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@media screen and (max-width: 500px) {
.el-icon {
    display: none;
}
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-22.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22.use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22.use[3]!./node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/payment/Header.vue?vue&type=style&index=0&id=747c7c34&lang=scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.cp-information-row {
  box-sizing: border-box;
}
.cp-information-row .el-col {
  margin-bottom: 5px;
}
.cp-information-row .el-col:nth-child(1n) {
  text-align: left;
}
.cp-information-row .el-col:nth-child(2n) {
  text-align: right;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-22.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22.use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22.use[3]!./node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/payment/WalletList.vue?vue&type=style&index=0&id=6bcf73e0&lang=scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.cp-no-any-wallet {
  text-align: center;
  padding: 50px 30px;
  font-size: 20px;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-22.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22.use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22.use[3]!./node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/payment/Confirmation.vue?vue&type=style&index=0&id=7d0b22ce&lang=scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.cp-confirmation-row {
  text-align: center;
}
.cp-confirmation-row .el-col:first-child {
  margin-bottom: 20px;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-22.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22.use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22.use[3]!./node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/payment/WalletPayment.vue?vue&type=style&index=0&id=bbb4ecf8&lang=scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.el-row {
  padding: 20px;
  box-sizing: border-box;
}
.el-row:not(:last-child) {
  border-bottom: 1px solid #e2e4ec;
}
.el-row .el-col:not(:nth-child(2n)) {
  font-weight: 500;
}
.cp-payment-currency .el-col:nth-child(1) {
  margin-bottom: 10px;
}
#cp-currencies {
  list-style: none;
  margin: 0;
  padding: 0;
  background: transparent;
  border-radius: 10px;
  word-wrap: break-word;
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 10px;
  box-sizing: border-box;
}
#cp-currencies .el-row {
  padding: 0px;
}
#cp-currencies .el-row .el-col {
  margin-bottom: 10px;
  font-weight: normal;
}
#cp-currencies li {
  display: flex;
  align-items: center;
  line-height: 0;
  cursor: pointer;
  height: 28px;
  border-radius: 12px;
  padding: 6px;
  padding-right: 10px;
  background: #EEF0F3;
  box-sizing: content-box;
  color: #0A0B0D;
}
#cp-currencies li .icon {
  width: 28px;
  margin-right: 5px;
}
#cp-currencies li:hover {
  background: #D0D2D4;
}
#cp-currencies li.selected {
  color: #fff;
  background: #409eff;
}
.cp-app.theme-dark #cp-currencies li {
  color: #A8AEB6;
  background: rgba(5, 11, 19, 0.8117647059);
}
.cp-app.theme-dark #cp-currencies li:hover {
  background: #03060b;
}
.cp-app.theme-dark #cp-currencies li.selected {
  background: #03060b;
}
.cp-payment-amount .el-col {
  display: flex;
  align-items: center;
}
.cp-payment-amount .el-alert {
  color: #000 !important;
  font-weight: 600;
  justify-content: end;
}
.cp-app.theme-dark .cp-payment-amount .el-alert {
  color: #A8AEB6 !important;
  background: rgba(5, 11, 19, 0.8117647059) !important;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-22.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22.use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22.use[3]!./node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/App.vue?vue&type=style&index=0&id=7ba5bd90&lang=scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: jost;
  src: url(../fonts/jost.ttf);
}
/*!****************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-14.use[1]!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-14.use[2]!./src/assets/css/normalize.css ***!
  \****************************************************************************************************************************************************************************/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }
/*!*******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-24.use[1]!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-24.use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-24.use[3]!./src/assets/css/general.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************/
.cp-full-height {
  width: 100%;
}

@media (max-width: 768px) {
  .cp-full-height {
    height: 100%;
  }
}
.cp-app-content ul::-webkit-scrollbar {
  width: 10px;
}
.cp-app-content ul::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.cp-app-content ul::-webkit-scrollbar-thumb {
  background: #888;
}
.cp-app-content ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cp-app.theme-dark .cp-app-content ul::-webkit-scrollbar {
  width: 10px;
}
.cp-app.theme-dark .cp-app-content ul::-webkit-scrollbar-track {
  background: #141D20;
}
.cp-app.theme-dark .cp-app-content ul::-webkit-scrollbar-thumb {
  background: rgba(5, 11, 19, 0.8117647059);
}
.cp-app.theme-dark .cp-app-content ul::-webkit-scrollbar-thumb:hover {
  background: #03060b;
}

.cp-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 400px;
  overflow-y: auto;
}
.cp-list li {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  padding: 20px;
}
.cp-list li:hover {
  background: #f5f7f9;
}
.cp-list li .el-icon {
  position: absolute;
  right: 20px;
}
.cp-list li .icon {
  font-size: 50px;
  margin-right: 10px;
}
.cp-list li .img-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.cp-list li .name {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
.cp-list li .status {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  margin-left: auto;
}
.cp-list li .status .detected, .cp-list li .status .openInApp {
  color: #1e8454;
}
.cp-list li .status .download {
  color: #051486;
}

.cp-app.theme-dark .cp-list li:hover {
  background: #050b13;
}
.cp-app.theme-dark .cp-list li .name {
  color: #A8AEB6;
}

.walletconnect-modal__base {
  max-width: 400px !important;
}

.walletconnect-modal__headerLogo {
  height: 21px !important;
  width: auto !important;
}

.swal2-container {
  font-family: Arial, Helvetica, sans-serif;
  z-index: 99999999999 !important;
}

.swal2-title {
  font-size: 1.25em;
}

.cp-theme-dark .swal2-popup {
  background: #141D20 !important;
  color: #A8AEB6 !important;
}

.cp-theme-dark .swal2-styled.swal2-confirm {
  background: rgba(5, 11, 19, 0.8117647059) !important;
}

.align-right {
  text-align: right;
}

.el-alert__content {
  padding: 0 !important;
}
.el-alert__content .el-alert__title {
  vertical-align: inherit;
}

.cp-pay-action-btn:disabled {
  background: #cccccc !important;
  border-color: #cccccc !important;
  cursor: no-drop !important;
}
.cp-pay-action-btn:disabled:hover {
  background: #cccccc !important;
  border-color: #cccccc !important;
}

.cp-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cp-modal .content {
  width: 100%;
  max-width: 450px;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #e2e4ec;
  box-sizing: border-box;
  border-radius: 6px;
}
.cp-modal .content img {
  max-width: 100%;
}

.cp-app.theme-dark .cp-modal {
  background: rgba(0, 0, 0, 0.5);
}
.cp-app.theme-dark .cp-modal .content {
  background: #141D20 !important;
  border: 1px solid #141D20;
}
.cp-app.theme-dark .cp-modal .cp-explorer-btn {
  background: rgba(5, 11, 19, 0.8117647059) !important;
}

@media screen and (max-width: 500px) {
  .cp-modal {
    padding: 0px 20px;
    box-sizing: border-box;
  }
}
.cp-title {
  width: 100%;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid #e2e4ec;
}

.cp-app.theme-dark .cp-title {
  color: #A8AEB6;
  border-bottom: 1px solid #050b13;
}

.cp-pay-action-btn {
  width: 100%;
  padding: 20px;
  height: 60px !important;
  text-align: center;
  box-sizing: border-box;
  font-size: 18px !important;
  font-weight: 500;
  cursor: pointer;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.cp-app.theme-dark .cp-pay-action-btn {
  background: #141D20 !important;
  border-color: #141D20 !important;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-22.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-22.use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-22.use[3]!./node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/Container.vue?vue&type=style&index=0&id=49781c01&lang=scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.cp-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: jost, serif;
  flex-direction: column;
}
.cp-wrapper .container {
  width: 100%;
  max-width: 430px;
  padding: 0 !important;
  position: relative;
  box-sizing: border-box;
}
.cp-wrapper .container .inner {
  background-color: #fff;
  border: 1px solid #e2e4ec;
  box-shadow: 0 0 20px 0 rgba(226, 228, 236, 0.5);
  position: relative;
  box-sizing: border-box;
  border-radius: 6px;
}
.cp-app.theme-dark .footer .powered-by {
  color: #A8AEB6;
}
.cp-app.theme-dark .footer a {
  color: #A8AEB6;
}
.cp-app.theme-dark .inner {
  background-color: #141D20;
  border: 1px solid #141D20;
  box-shadow: 0 0 20px 0 rgba(20, 29, 32, 0.5);
}
