.bp-feedback-modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.bp-feedback-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0;
    border: 1px solid #888;
    width: 650px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    border-radius: 5px;
    box-sizing: border-box;
}

.bp-feedback-modal-header {
    border-bottom: #eee solid 1px;
    background: #fbfbfb;
    padding: 15px 20px;
    position: relative;
    font-weight: bold;
}

.bp-feedback-modal-loading {
    display: none;
}

.bp-feedback-modal-question, .bp-feedback-modal-loading {
    padding: 20px;
    margin: 0;
    list-style: none;
    border-bottom: #eee solid 1px;
}

.bp-feedback-modal-body {
    padding: 20px;
    margin: 0;
    list-style: none;
}

.bp-feedback-modal-reason-input {
    margin-left: 20px;
}

.bp-feedback-modal-reason-input input {
    width: 100%;
    border: #ccc solid 1px;
    border-radius: 3px;
    box-sizing: border-box;
}

.bp-feedback-modal-footer {
    border-top: #eee solid 1px;
    background: #fbfbfb;
    padding: 15px 20px;
    position: relative;
    text-align: left;
    position: relative;
}

.bp-feedback-modal-footer a:last-child {
    position: relative;
    right: 0;
    top: 9px;
    font-size: 12px;
}