.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper .box ul {
    margin: 0;
    list-style: dotted;
    padding-left: 10px;
}

.wrapper .box {
    width: 100%;
    margin-bottom: 20px;
}

.wrapper .box.box-33 {
    width: calc(33.33% - 20px);
}

.wrapper .box.box-50 {
    width: calc(50% - 20px);
}

.wrapper .box.box-100 {
    width: calc(100% - 20px);
}

.buy-button {
    margin-bottom: 0px!important;
    font-size: 18px!important;
    margin-right: 20px!important;

}
.buy-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.activity-block.video {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .wrapper .box.box-50, .wrapper .box.box-33 {
        width: 100%;
    }
}

.cp-product-list {
    .activity-block {
        padding: 10px!important
    }
    .box ul {
        padding-left: 0!important;
    }
}

.cp-product-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.cp-product-list li {
    list-style: none;
    text-align: center;
    position: relative;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .cp-product-list li {
        width: 50%;
    }
    
}

@media screen and (max-width: 400px) {
    .cp-product-list li {
        width: 100%;
    }
    
}

.cp-product-list li .new {
    position: absolute;
    top: 0;
    right: 0;
    background: #f00;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
}

.cp-product-list li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #000;
    font-size: 24px;
}

.cp-product-list li a img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.cp-status {    
    display: inline-flex;
    line-height: 2.5em;
    color: #777;
    background: #e5e5e5;
    border-radius: 4px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin: -0.25em 0;
    cursor: inherit!important;
    white-space: nowrap;
    max-width: 100%;
    padding: 0 1em;
    text-decoration: none;
    &.processing {
        background: #c8d7e1;
        color: #2e4453;
    }
    &.verified {
        background: #c6e1c6;
        color: #5b841b;
    }
    &.failed {
        background: #eba3a3;
        color: #761919;
    }
}